*{
    margin: 0;
    padding: 0;
    font-family: "PlayFair Display";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#div1{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1553913861-c0fddf2619ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    /* background-image: url(https://images.unsplash.com/photo-1600520611035-84157ad4084d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1789&q=80); */
}
/* https://geographical.co.uk/media/k2/items/cache/f1643f36708fadabd1f1bf38a425687f_XL.jpg */

#div1 #overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#div1 #overlay #div1part1{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div1 #overlay #div1part1 #div1part1left{
    width: 100%;
    /* height: 100%; */
    display: flex;
}

#div1 #overlay #div1part1 #div1part1left .white{
    font-size: 25px;
    font-weight: 900;
    color: white;
    font-family: "Product Sans";
}

#div1 #overlay #div1part1 #div1part1left .brown{
    font-size: 25px;
    font-weight: 900;
    color: #ebb965;
    font-family: "Product Sans";
}

#div1 #overlay #div1part1 #div1part1right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#div1 #overlay #div1part1 #div1part1right a{
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding-left: 90px;
}

#div1 #overlay #div1part1 #div1part1right i{
    font-size: 30px;
    font-weight: 400;
    color: #ebb965;
    padding-left: 140px;
}

#div1 #overlay #div1part2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85%;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div1 #overlay #div1part2 #div1part2left{
    transform-origin: 0% 100%;
    transform: rotate(-90deg);
    padding-top: 20%;
}

#div1 #overlay #div1part2 #div1part2left a{
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

#div1 #overlay #div1part2 #div1part2center{
    /* width: 50%;
    height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#div1 #overlay #div1part2 #div1part2center h6{
    padding-top: 50px;
    color: #ebb965;
    font-size: 25px;
    font-weight: 900;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div1 #overlay #div1part2 #div1part2center h3{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 45px;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
}

#div1 #overlay #div1part2 #div1part2center i{
    color: white;
    font-size: 18px;
}

#div1 #overlay #div1part2 #div1part2center p{
    color: white;
    font-weight: 700;
    font-size: 14px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div1 #overlay #div1part2 #div1part2right{
    transform-origin: 100% 0;
    transform: rotate(-90deg);
    /* padding-top: 20%; */
}

#div1 #overlay #div1part2 #div1part2right p{
    color: white;
    font-weight: 400;
    font-size: 13px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div2{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    background-color: #ebb965;
    /* background-color: rgb(92, 35, 35); */
}

#div2 #div2part1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#div2 #div2part1 p{
    color: black;
    font-weight: 900;
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div2 #div2part1 h3{
    color: white;
    font-size: 35px;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
}

#div2 #div2part2{
    width: 100%;
    height: 20%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#div2 #div2part2 #div2part2left{
    width: 50%;
    height: 100%;
    padding-right: 80px;
    /* background-color: rgba(0, 0, 0, 0.199); */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

#div2 #div2part2 #div2part2left p{
    color: white;
    font-size: 14px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div2 #div2part2 #div2part2right{
    width: 50%;
    height: 100%;
    padding-right: 80px;
    /* background-color: rgba(0, 0, 0, 0.199); */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

#div2 #div2part2 #div2part2right p{
    color: white;
    font-size: 14px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div2 #div2part3{
    width: 100%;
    height: 70%;
    /* padding-top: 60px; */
    background-image: url(https://images.unsplash.com/photo-1553993500-3c1336aa8b86?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    /* background-image: url(https://images.unsplash.com/photo-1553913861-dc2ce76b856c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80); */
    background-size: cover;
    background-position: center;
}

#div2 #div2part3 #div2part3overlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.247);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#div2 #div2part3 #div2part3overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 100;
    color: white;
}

#div3{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    background-color: #ebb965;
    /* background-color: rgb(228, 130, 130); */
}

#div3 #div3part1{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#div3 #div3part1 p{
    color: black;
    font-weight: 900;
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div3 #div3part1 h3{
    color: white;
    font-size: 35px;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
}

#div3 #div3part2{
    width: 100%;
    height: 70%;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#div3 #div3part2 #div3left{
    width: 50%;
    height: 100%;
    padding-right: 80px;
    /* background-color: rgba(0, 0, 0, 0.199); */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

#div3 #div3part2 #div3left h2{
    color: white;
    font-size: 50px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div3 #div3part2 #div3left p{
    color: white;
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div3 #div3part2 #div3left a{
    font-size: 14px;
    color: black;
    font-weight: 600;
}

#div3 #div3part2 #div3right img{
    width: 85%;
    height: 90%;
    background-position: center;
    background-size: cover;
}

#div4{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    background-color: #ebb965;
    /* background-color: rgb(228, 130, 130); */

}

#div4 #div4part1{
    width: 100%;
    height: 70%;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#div4 #div4part1 #div4left img{
    width: 85%;
    height: 90%;
    background-position: center;
    background-size: cover;
}

#div4 #div4part1 #div4right{
    width: 50%;
    height: 100%;
    padding-left: 80px;
    /* background-color: rgba(0, 0, 0, 0.199); */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

#div4 #div4part1 #div4right h2{
    color: white;
    font-size: 50px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div4 #div4part1 #div4right p{
    color: white;
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#div4 #div4part1 #div4right a{
    font-size: 14px;
    color: black;
    font-weight: 600;
}

#div4 #div4part2{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#div4 #div4part2 button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    font-weight: 600;
    color: black;
}

#div4 #div4part2 button i{
    padding-left: 5px;
    font-weight: 600;
    color: black;
}